{% load django_bootstrap5 %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}EcoEnergy{% endblock %}</title>
    {% bootstrap_css %}
</head>

<body class="bg-light">
    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'dispositivos:inicio' %}">EcoEnergy</a>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'dispositivos:inicio' %}">Inicio</a>
                <a class="nav-link" href="{% url 'dispositivos:catalogo' %}">Dispositivos</a>
            </div>
        </div>
    </nav>

    <!-- Contenido Principal -->
    <main class="container py-2">
        {% block content %}{% endblock %}
    </main>

    {% bootstrap_javascript %}
</body>

</html>